/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 150%;
    font-weight: normal;
    margin-block: 1rem;
}

ul {
    list-style: none
}

button,
input,
select {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

img,
video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}


section {
    max-width: 65rem;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.card {
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    ;
}

.egal {
    color: #ff0000;
    font-size: 2rem;
}

.form {
    align-items: center;
    display: flex;

    flex-direction: column;
}

/* .btn {
    margin-top: 1rem;
    background-color: transparent;
    width: fit-content;
    padding: 1rem 3rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100vh;
    transition: 350ms ease-in-out;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: limegreen;
    color: white;
    border-color: white;

} */

.unten1 {
    text-align: center;
    border-radius: 3rem;
    border: 50px solid rgb(255, 255, 255);
}

.mini {
    text-align: center;
    font-size: xx-small;
}